<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skywings</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="about.css">
</head>

<body>
    <nav class="navbar">
        <div class="logo">Skywings</div>
        <ul class="nav-links">
            <li><a href="/home">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/trip">CUSTOMIZE-TRIPS</a></li>
            <li><a href="/package">PACKAGE & TOUR</a></li>
            <li><a href="/contact">CONTACT</a></li>
        </ul>
        <a href="#" class="book-trip">
            Profile <i class="fa-solid fa-user"></i> 
            <i class="fa-solid fa-chevron-right dropdown-arrow"></i>
        </a>
        <div class="dropdown-menu">
            <ul>
                <li><a href="profile.html">My Account</a></li>
                <li><a href="booking.html">Bookings</a></li>
               
            </ul>
        </div>
    </nav>
    <header>
        <div class="img">
            <h1>About Us</h1>
        </div>
    </header>
    <!-- ------------------------------------------------aboutinfo------------------------------------------- -->
    <div class="main">
        <div class="about-info">
            <div class="about-container">
                <div class="about-image" data-aos="fade-right" data-aos-delay="400">
                    <img src="/aboutimg/about-image-3.svg" alt="Hiker with backpack">
                </div>
                <div class="about-text" data-aos="fade-left" data-aos-delay="400">
                    <h1>World Best Travel Agency</h1>
                    <p>Since 2024, we've helped more than 500+ people of all ages enjoy the best outdoor experience
                        of
                        their lives. Whether it's for one day or a two-week vacation, close to home or a foreign land.
                    </p>

                    <div class="about-features">
                        <div class="feature">
                            <img src="/aboutimg/about-icon-1-s1.svg" alt="Expert Team">
                            <p><strong>Expert Team for Support</strong></p>
                        </div>
                        <div class="divider"></div>
                        <div class="feature">
                            <img src="/aboutimg/about-icon-2-s2.svg" alt="Support">
                            <p><strong>Urgent Support for Client</strong></p>
                        </div>
                    </div>

                    <div class="about-quote">
                        <p><em>"Since 2024, we've helped more than 500+ people of all ages enjoy the best outdoor
                                experience of their lives."</em></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- -------------------------------------------------perfect vacation---------------------------------- -->
        <div class="perfectvac">
            <h1 class="title">Perfect <span class="highlight">Vacation</span> come True</h1>
        </div>
        <div class="services">
            <div class="service">
                <img src="/aboutimg/b-icon-01.png" alt="Airline Tickets">
                <h2>Airline Tickets</h2>
                <p>Our travel agency specializes in providing our customers with the best deals on airline tickets.</p>
            </div>

            <div class="service">
                <img src="/aboutimg/b-icon-02.png" alt="Ocean Cruises">
                <h2>Ocean Cruises</h2>
                <p>Luxurious and comfortable way of travel, and passengers can enjoy stunning views of the sea.</p>
            </div>

            <div class="service">
                <img src="/aboutimg/b-icon-03.png" alt="Means of Transport">
                <h2>Means of Transport</h2>
                <p>Our travel agency offers a variety of means of transport to get you around your destination safely.
                </p>
            </div>

            <div class="service">
                <img src="/aboutimg/b-icon-04.png" alt="Travel Itineraries">
                <h2>Travel Itineraries</h2>
                <p>Our team of experts will take care of all the planning and logistics, providing you with a detailed
                    itinerary.</p>
            </div>

            <div class="service">
                <img src="/aboutimg/b-icon-05.png" alt="Travel Insurance">
                <h2>Travel Insurance</h2>
                <p>Travel insurance is an essential part of any trip, providing peace of mind and protection.</p>
            </div>

            <div class="service">
                <img src="/aboutimg/b-icon-06.png" alt="Local Guide">
                <h2>Local Guide</h2>
                <p>We can connect you with guides who will take you off the best path and show you their city.</p>
            </div>
        </div>
        <!-- ------------------------------------------benefits------------------------------------------------- -->
        <div class="benefit">
            <div class="benefit-shape">
                <img src="/aboutimg/shape1.png" alt="">
            </div>
            <div class="benefitmain">
                <h2 class="benefit-title">How To Benefit Our Skywings Tours & Travels</h2>
                <p class="benefit-subtitle">One site <span class="benefit-highlight">5,500+</span> most popular
                    experience
                    you'll remember</p>

                <div class="benefit-container">
                    <div class="benefit-card">
                        <img src="/aboutimg/salary.png" alt="Best Rate Guarantee" class="benefit-icon">
                        <h3 class="benefit-heading">Best Rate Guarantee</h3>
                        <p class="benefit-text">Tent camping is a wonderful way to connect with nature</p>
                    </div>

                    <div class="benefit-card">
                        <img src="/aboutimg/travel-bag.png" alt="Diverse Destinations" class="benefit-icon">
                        <h3 class="benefit-heading">Diverse Destinations</h3>
                        <p class="benefit-text">Mountain biking is an exhilarating sport that improves physical fitness
                        </p>
                    </div>

                    <div class="benefit-card">
                        <img src="/aboutimg/booking.png" alt="Fast Booking" class="benefit-icon">
                        <h3 class="benefit-heading">Fast Booking</h3>
                        <p class="benefit-text">Kayaking is a thrilling outdoor activity full of adventure</p>
                    </div>

                    <div class="benefit-card">
                        <img src="/aboutimg/signpost.png" alt="Best Travel Guide" class="benefit-icon">
                        <h3 class="benefit-heading">Best Travel Guide</h3>
                        <p class="benefit-text">Fishing and boat trips are quintessential activities that bring joy</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- ----------------------------------------explore-destinations------------------------------------------------ -->

        <div class="exploredest">
            <div class="explore1" data-aos="fade-right" data-aos-delay="400">
                <div class="explorehead">
                    <h1>Travel with Confidence</h1>
                    <h1>Top Reasons to Choose</h1>
                    <h1>Our Agency</h1>
                </div>
                <div class="explorepara">
                    <p class="exppara">We work closely with our clients to understand challenges and objectives,
                        providing customized
                        solutions to enhance efficiency boost profitability, and foster sustainable growth.</p>
                </div>
                <div class="exploretotal">
                    <div class="total1">
                        <h1>3k+</h1>
                        <p>Popular Destination</p>
                    </div>
                    <div class="total2">
                        <h1>9k+</h1>
                        <p>Satisfied Clients</p>
                    </div>
                </div>
                <div class="exploredestbtn">
                    <button class="exploredestbtn"><a href="#">Explore Destination</a> <i
                            class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
            <div class="explore2">
                <div class="exploreimg"  data-aos="fade-left" data-aos-delay="400">
                    <img src="/aboutimg/exp-dest.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- ---------------------------------------------------FAQ Section---------------------------------------------------- -->
        
        <div class="faq-section"  data-aos="fade-up" data-aos-delay="600">
            <h2>Frequently Asked Questions</h2>
            <div class="faq">
                <div class="faq-item">
                    <div class="faq-question">How can I book a trip with Skywings? <span class="toggle-icon">+</span>
                    </div>
                    <div class="faq-answer">You can book online via our website or contact our customer support for
                        personalized packages.</div>
                </div>
                <div class="faq-item">
                    <div class="faq-question">Do you offer travel insurance? <span class="toggle-icon">+</span></div>
                    <div class="faq-answer">Yes, we offer travel insurance to cover cancellations, medical emergencies,
                        and lost baggage.</div>
                </div>
                <div class="faq-item">
                    <div class="faq-question">What are the best destinations for family trips? <span
                            class="toggle-icon">+</span></div>
                    <div class="faq-answer">We offer family-friendly vacation packages to destinations like U.S.A,
                        AUSTRALIA, and South Afrika.</div>
                </div>
                <div class="faq-item">
                    <div class="faq-question">What payment methods do you accept? <span class="toggle-icon">+</span>
                    </div>
                    <div class="faq-answer">We accept credit/debit cards, PayPal, and bank transfers. Some destinations also support digital wallets like Apple Pay and Google Pay.</div>
                </div>
                <div class="faq-item">
                    <div class="faq-question">Do I need a visa for my trip? <span class="toggle-icon">+</span>
                    </div>
                    <div class="faq-answer"> Visa requirements depend on your nationality and destination. You can check with your local embassy or use our visa assistance service for guidance.</div>
                </div>
            </div>
        </div>

        <!-- ------------------------------------footer---------------------------------- -->
        <footer>
            <div class="footer-container">
                <div class="footer-section">
                    <h3>Support</h3>
                    <ul>
                        <li><a href=helpcenter.html">Help Center</a></li>
                     
                        <li><a href="safety_opt.html">Safety information</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>Company</h3>
                    <ul>
                        <li><a href="/about">About us</a></li>
                        <li><a href="travelguidline.html">Travel Guidlines</a></li>
                
                        <li><a href="privacy.html">Privacy policy</a></li>
                        <li><a href="termsofservice.html">Terms of service</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>Contact</h3>
                    <ul>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="contact.html">Get in touch</a></li>
                    </ul>
                </div>
                <div class="wrapper">
                    <!-- <div class="icon facebook">
                        <div class="tooltip">
                            Facebook
                        </div>
                        <span><i class="fab fa-facebook-f"></i></span>
                    </div> -->
                    <div class="icon twitter">
                        <div class="tooltip">
                            Twitter
                        </div>
                        <span><i class="fab fa-twitter"></i></span>
                    </div>
                    <div class="icon instagram">
                        <div class="tooltip">
                            Instagram
                        </div>
                        <span><i class="fab fa-instagram"></i></span>
                    </div>
                    <div class="icon github">
                        <div class="tooltip">
                            Github
                        </div>
                        <span><i class="fab fa-github"></i></span>
                    </div>
                    <div class="icon youtube">
                        <div class="tooltip">
                            YouTube
                        </div>
                        <span><i class="fab fa-youtube"></i></span>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; Skywings</p>
                <div class="payment-icons">
                    <img src="/img/paycard1.png" alt="Visa">
                    <img src="/img/paycard2.svg" alt="Mastercard">
                    <img src="/img/paycard3.jpeg" alt="Discover">
                    <img src="/img/paycard4.png" alt="PayPal">
                </div>
            </div>
        </footer>

    </div>
</body>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>
<script src="about.js"></script>

</html>