<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skywings</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="home.css">
</head>



<body>


    <nav class="navbar">
        <div class="logo">Skywings</div>
        <ul class="nav-links">
            <li><a href="/home">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/trip">CUSTOMIZE-TRIPS</a></li>
            <li><a href="/package">PACKAGE</a></li>
            <li><a href="/contact">CONTACT</a></li>
        </ul>
        <a href="#" class="book-trip">
            Profile <i class="fa-solid fa-user"></i> 
            <i class="fa-solid fa-chevron-right dropdown-arrow"></i>
        </a>
        <div class="dropdown-menu">
            <ul>
                <li><a href="profile.html">My Account</a></li>
                <li><a href="booking.html">Bookings</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </nav>

    <!-- Hero Section -->
    <div class="hero">
        <p class="hero-p">Discover your place</p>
        <h1 class="hero-1">AN ISLAND</h1>
        <h1 class="hero-2">ESCAPE AWAITS</h1>
        <h1 class="hero-3">YOU</h1>
        <button class="btn">Explore More</button>
    </div>
    <div class="whychoose" >
    <div class="box" data-aos="fade-right"  data-aos-duration="5000" data-aos-delay="500" >
            <div class="b1"></div>
            <div class="b2"></div>
        </div>
        <div class="txt" data-aos="fade-left"  data-aos-duration="10000">
            <p class="txt-p">Why Choose Us?</p>
            <h1 class="txt-h1">Plan Your Trip With Us</h1>
            <div class="para">
                <div class="i">
                    <i class="fa-solid fa-circle-check"></i>
                </div>
                <div>
                    <h4>Best price Gurantee</h4>
                    <p>We ensure you get the most
                        competitive rates for your travel plans, making your dream destinations affordale.</p>
                </div>
            </div>
            <div class="para">
                <div class="i">
                    <i class="fa-solid fa-calendar"></i>
                </div>
                <div>
                    <h4>Booking options</h4>
                    <p>Experience the ease of flexible booking options tailored to suit your schedule and preferences.
                    </p>
                </div>
            </div>
            <div class="para">
                <div class="i">
                    <i class="fa-solid fa-map-location-dot"></i>
                </div>
                <div>
                    <h4>Best price Gurantee</h4>
                    <p>Navigate your adventure with our personalized track maps designed for seamless and enjoyable
                        travel experiences.</p>
                </div>
            </div>
        </div>
    </div>
    <h1 class="h1"> Different Seasons Different Places</h1>
    <div class="container" data-aos="fade-down" data-aos-delay="500">
        <div class="category_container">
            <div class="content" id="season">
                <img src="https://images.pexels.com/photos/712395/pexels-photo-712395.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    class="professio_image" alt="Profession" />
                <img src="https://images.pexels.com/photos/1586795/pexels-photo-1586795.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    class="profile_image" alt="Profile" />
                <div class="profile_detail">
                    <span>Summer</span>
                    <p>Hot Envo + Vacations</p>
                </div>

                <div class="wrapper">
                    <div class="profile_quote">
                        <p>"Summer: a season of sunshine, adventures, and memories waiting to be made."</p>
                    </div>
                </div>

            </div>
            <div class="content" id="season">
                <img src="https://images.pexels.com/photos/1978126/pexels-photo-1978126.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    class="profession_image" alt="Profession" />
                <img src="/img/season winter.jpg" class="profile_image" alt="Profile" />
                <div class="profile_detail">
                    <span>Winter</span>
                    <p>Cold Envo + Vacations</p>
                </div>
                <div class="wrapper">
                    <div class="profile_quote">
                        <p>"Winter, a season of crisp air, cozy nights by the fire, and the magic of snow-covered
                            landscapes.
                            "</p>
                    </div>
                </div>
            </div>
            <div class="content" id="season">
                <img src="https://images.pexels.com/photos/9095426/pexels-photo-9095426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    class="profession_image" alt="Profession" />
                <img src="https://images.pexels.com/photos/2745224/pexels-photo-2745224.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    class="profile_image" alt="Profile" />
                <div class="profile_detail">
                    <span>Monsoon</span>
                    <p>Rainy Envo + Seasoning</p>
                </div>
                <div class="wrapper">
                    <div class="profile_quote">
                        <p>"Monsoon, a time of refreshing rains, lush greenery, and the earth's rejuvenation."</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- -------------------------------------------top destination---------------------------------------- -->
    </div>
    <h1 class="h3">TOP <span class="highlight">DESTINATIONS</span></h1>
    <div class="container2">
        <div class="popcards">
            <div class="popcard">
                <img src="/img/pop1.webp" alt="California" />
                <div class="overlay">
                    <h2>Japan</h2>
                    <p>3 Packages & Destinations</p>
                </div>
            </div>
            <div class="popcard">
                <img src="img/pop2 french.webp" alt="New York City" />
                <div class="overlay">
                    <h2>China</h2>
                    <p>3 Packages & Destinations</p>
                </div>
            </div>
            <div class="popcard">
                <img src="img/pop3 norway.webp" alt="New Jersey" />
                <div class="overlay">
                    <h2>Europe</h2>
                    <p>6 Packages & Destinations</p>
                </div>
            </div>
            <div class="popcard">
                <img src="img/pop4 himaliyas.webp" alt="Los Angeles" />
                <div class="overlay">
                    <h2>India</h2>
                    <p>6 Packages & Destinations</p>
                </div>
            </div>
            <div class="popcard">
                <img src="img/pop5 swizland.webp" alt="San Francisco" />
                <div class="overlay">
                    <h2>Australia</h2>
                    <p>6 Packages & Destinations</p>
                </div>
            </div>
            <div class="popcard">
                <img src="img/pop6 newyork.webp" alt="Nevada" />
                <div class="overlay">
                    <h2>U.S.A</h2>
                    <p>6 Packages & Destinations</p>
                </div>
            </div>
        </div>
    </div>
    <!-- -------------------------------------------------where to------------------------------- -->
    <div class="griddiv">
        <h1 class="h2">Where to ?</h1>
        <div class="grid" id="grid">
            <photo-card data-text="India" img="img/taj mahel ind.jpg"></photo-card>
            <photo-card data-text="China" img="img/china.jpg"></photo-card>
            <photo-card data-text="Mexico" img="img/mexico.avif"></photo-card>
            <photo-card data-text="Jordan" img="img/Jordan.avif"></photo-card>
            <photo-card data-text="Peru" img="img/peru.avif"></photo-card>
            <photo-card data-text="Brazil" img="img/brazil.jpg"></photo-card>
            <photo-card data-text="Italy" img="img/italy.jpg"></photo-card>
            <photo-card data-text="France" img="img/France.webp"></photo-card>
            <photo-card data-text="U.A.E" img="img/uae.png"></photo-card>
            <photo-card data-text="U.S.A" img="img/USA.jpg"></photo-card>
        </div>
    </div>

    <!-- -------------------------------------------------reviews------------------------ -->
    <div class="review-sec">
        <h2>Meet Some Happy Customers</h2>
        <div class="review-slider">
            <div class="review-f3">
                <div class="review-card">
                    <img src="/img/review1.png" alt="User 5" class="profile-pic">
                    <p>"Superb quality, will order again!"</p>
                    <h3>Bobzy</h3>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        
                    </div>
                </div>
                <div class="review-card">
                    <img src="/img/review2.png" alt="User 2" class="profile-pic">
                    <p>"Very satisfied with the product quality!"</p>
                    <h3>Chris Jordan</h3>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
                <!-- <div class="review-card">
                    <img src="/img/review3.png" alt="User 3" class="profile-pic">
                    <p>"Amazing experience, would buy again!"</p>
                    <h3>Johnti Rhoads</h3>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        
                    </div>
                </div> -->
                <div class="review-card">
                    <img src="/img/review4.png" alt="User 3" class="profile-pic">
                    <p>"Amazing experience, would buy again!"</p>
                    <h3>Sarah Lee</h3>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="review-f3">
                <div class="review-card">
                    <img src="/img/review5.png" alt="User 4" class="profile-pic">
                    <p>"Excellent support and fast delivery!"</p>
                    <h3>Ariya Johnson</h3>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
                <div class="review-card">
                    <img src="/img/review6.jpeg" alt="User 5" class="profile-pic">
                    <p>"Superb quality, will order again!"</p>
                    <h3>John Davis</h3>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        
                    </div>
                </div>
                <div class="review-card">
                    <img src="/img/review7.png" alt="User 6" class="profile-pic">
                    <p>"A fantastic experience overall!"</p>
                    <h3>Elise perry</h3>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
                <!-- <div class="review-card">
                    <img src="/img/review8.png" alt="User 3" class="profile-pic">
                    <p>"Amazing experience, would buy again!"</p>
                    <h3>Sarah Lee</h3>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="dots">
        <span class="dot active" onclick="moveSlide(0)"></span>
        <span class="dot" onclick="moveSlide(1)"></span>
    </div>
    <!-- ---------------------------------------------------deals---------------------------------------- -->
    <div class="trending-tours">
        <h2>Trending <span class="highlight">Deals</span></h2>
        <div class="tour-container"  data-aos="fade-up" data-aos-delay="500">
            <div class="tour-card">
                <span class="discount-tag">-12%</span>
                <img src="/img/deals1.jpg" alt="New York Tour">
                <div class="tour-info">
                    <h3>Trip of Sydney – Discover Australia</h3>
                    <p><i class="location-icon"></i> Sydney, Australia</p>
                    <div class="rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> <span> <b>20 Reviews</b></span></div>
                    <p class="duration">⏳ 2 Days</p>
                    <p class="price"><span class="old-price">$2000</span><strong>$1760.00</strong></p>
                </div>
            </div>
            <div class="tour-card">
                <span class="discount-tag">-15%</span>
                <img src="/img/deal2.jpg" alt="Washington Tour">
                <div class="tour-info">
                    <h3>Tour of Kashmir, India</h3>
                    <p><i class="location-icon"></i> Kashmir, India</p>
                    <div class="rating"> <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i><span> <b>40 Review</b></span></div>
                    <p class="duration">⏳ 3 days</p>
                    <p class="price"><span class="old-price">$958,00</span><strong>$814,13</strong></p>
                </div>
            </div>
            <div class="tour-card discount">
                <span class="discount-tag">-10%</span>
                <img src="/img/deal3.jpg" alt="National Parks Tour">
                <div class="tour-info">
                    <h3>Cape Town , South Afica</h3>
                    <p><i class="location-icon"></i>Cape Town ,SA</p>
                    <div class="rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> <span><b>18 Review</b></span></div>
                    <p class="duration">⏳ 1 day</p>
                    <p class="price">
                        <span class="old-price">$1200,00</span>
                        <strong>$1080,20</strong>
                    </p>
                </div>
            </div>
        </div>
      </div>



      <div class="trending-tours" id="trending2">
        <div class="tour-container"  data-aos="fade-up" data-aos-delay="300">
            <div class="tour-card">
                <span class="discount-tag">-9%</span>
                <img src="/img/deal4.jpg" alt="New York Tour">
                <div class="tour-info">
                    <h3>Discover Thailand</h3>
                    <p><i class="location-icon"></i>Bangkok, Thailand</p>
                    <div class="rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> <span> <b>15 Reviews</b></span></div>
                    <p class="duration">⏳ 4 Days</p>
                    <p class="price"><span class="old-price">$750</span><strong>$682.5</strong></p>
                </div>
            </div>
            <div class="tour-card discount">
                <span class="discount-tag">-11%</span>
                <img src="/img/deal6.jpg" alt="National Parks Tour">
                <div class="tour-info">
                    <h3>Fly to London</h3>
                    <p><i class="location-icon"></i>London, United Kingdom</p>
                    <div class="rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> <span><b>30 Review</b></span></div>
                    <p class="duration">⏳ 5 day</p>
                    <p class="price">
                        <span class="old-price">$1300,00</span>
                        <strong>$1157.00</strong>
                    </p>
                </div>
            </div>
            <div class="tour-card">
                <span class="discount-tag">-12%</span>
                <img src="/img/deal5.jpg" alt="Washington Tour">
                <div class="tour-info">
                    <h3>Explore Newzealand</h3>
                    <p><i class="location-icon"></i>Wellinghton, New-Zealand</p>
                    <div class="rating"> <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i><span> <b>25 Review</b></span></div>
                    <p class="duration">⏳ 1 days</p>
                    <p class="price"><span class="old-price">$1200,00</span><strong>$1056.00</strong></p>
                </div>
            </div>
        </div>
      </div>
      <!-- -----------------------------------subs-sec---------------------------- -->
    
    <!-- ------------------------------footer------------------------------------ -->
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h3>Support</h3>
                <ul>
                    <li><a href="helpcenter.html">Help Center</a></li>
                    
                    <li><a href="safety_opt.html">Safety information</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Company</h3>
                <ul>
                    <li><a href="/about">About us</a></li>
                    <li><a href="travelguidline">Travel Guidlines</a></li>
                    <li><a href="privacy.html">Privacy policy</a></li>
                    <li><a href="termsofservice.html">Terms of service</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Contact</h3>
                <ul>
                    
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="contact.html">Get in touch</a></li>
                </ul>
            </div>
            <div class="wrapper">
                <!-- <div class="icon facebook">
                    <div class="tooltip">
                        Facebook
                    </div>
                    <span><i class="fab fa-facebook-f"></i></span>
                </div> -->
                <div class="icon twitter">
                    <div class="tooltip">
                        Twitter
                    </div>
                    <span><i class="fab fa-twitter"></i></span>
                </div>
                <div class="icon instagram">
                    <div class="tooltip">
                        Instagram
                    </div>
                    <span><i class="fab fa-instagram"></i></span>
                </div>
                <div class="icon github">
                    <div class="tooltip">
                        Github
                    </div>
                    <span><i class="fab fa-github"></i></span>
                </div>
                <div class="icon youtube">
                    <div class="tooltip">
                        YouTube
                    </div>
                    <span><i class="fab fa-youtube"></i></span>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; Skywings</p>
            <div class="payment-icons">
                <img src="/img/paycard1.png" alt="Visa">
                <img src="/img/paycard2.svg" alt="Mastercard">
                <img src="/img/paycard3.jpeg" alt="Discover">
                <img src="/img/paycard4.png" alt="PayPal">
            </div>
        </div>
    </footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="home.js"></script>
<script>
    let seasons = document.querySelectorAll('#season');
    seasons.forEach((elem, i) => {
        elem.addEventListener('click', () => {
            window.location.href = 'package.html';
        })
    })
    
</script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>
</body>
</html>