<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skywings</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>


    <nav class="navbar">
        <div class="logo">Skywings</div>
        <ul class="nav-links">
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">TOUR</a></li>
            <li><a href="#">PACKAGE</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
        <a href="#" class="book-trip">BOOK TRIP <i class="fa-solid fa-plane-departure"></i></a>
    </nav>

    <!-- Hero Section -->
    <div class="hero">
        <p class="hero-p">Discover your place</p>
        <h1 class="hero-1">AN ISLAND</h1>
        <h1 class="hero-2">ESCAPE AWAITS</h1>
        <h1 class="hero-3">YOU</h1>
        <button class="btn">Explore More</button>
    </div>
    <div class="whychoose">
        <div class="box">
            <div class="b1"></div>
            <div class="b2"></div>
        </div>
        <div class="txt">
            <p class="txt-p">Why Choose Us?</p>
            <h1 class="txt-h1">Plan Your Trip With Us</h1>
            <div class="para">
                <div class="i">
                    <i class="fa-solid fa-circle-check"></i>
                </div>
                <div>
                    <h4>Best price Gurantee</h4>
                    <p>We ensure you get the most
                        competitive rates for your travel plans, making your dream destinations affordale.</p>
                </div>
            </div>
            <div class="para">
                <div class="i">
                    <i class="fa-solid fa-calendar"></i>
                </div>
                <div>
                    <h4>Booking options</h4>
                    <p>Experience the ease of flexible booking options tailored to suit your schedule and preferences.
                    </p>
                </div>
            </div>
            <div class="para">
                <div class="i">
                    <i class="fa-solid fa-map-location-dot"></i>
                </div>
                <div>
                    <h4>Best price Gurantee</h4>
                    <p>Navigate your adventure with our personalized track maps designed for seamless and enjoyable
                        travel experiences.</p>
                </div>
            </div>
        </div>
   </div>
  <h1 class="h1"> Different Seasons Different Places</h1>
 <div class="container">
            <div class="category_container">
                <div class="content">
                  <img
                    src="https://images.pexels.com/photos/712395/pexels-photo-712395.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    class="professio_image" alt="Profession" />
                  <img
                    src="https://images.pexels.com/photos/1586795/pexels-photo-1586795.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    class="profile_image" alt="Profile" />
                  <div class="profile_detail">
                    <span>Summer</span>
                    <p>Hot Envo + Vacations</p>
                  </div>
          
                  <div class="wrapper">
                    <div class="profile_quote">
                      <p>"Summer: a season of sunshine, adventures, and memories waiting to be made."</p>
                    </div>
                  </div>
          
                </div>
                <div class="content">
                  <img
                    src="https://images.pexels.com/photos/1978126/pexels-photo-1978126.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    class="profession_image" alt="Profession" />
                  <img
                    src="https://images.pexels.com/photos/1978126/pexels-photo-1978126.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    class="profile_image" alt="Profile" />
                  <div class="profile_detail">
                    <span>Winter</span>
                    <p>Cold Envo + Vacations</p>
                  </div>
                  <div class="wrapper">
                    <div class="profile_quote">
                      <p>"Winter, a season of crisp air, cozy nights by the fire, and the magic of snow-covered landscapes.
                        "</p>
                    </div>
                  </div>
                </div>
                <div class="content">
                  <img
                    src="https://images.pexels.com/photos/9095426/pexels-photo-9095426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    class="profession_image" alt="Profession" />
                  <img
                    src="https://images.pexels.com/photos/2745224/pexels-photo-2745224.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    class="profile_image" alt="Profile" />
                  <div class="profile_detail">
                    <span>Monsoon</span>
                    <p>Rainy Envo + Seasoning</p>
                  </div>
                  <div class="wrapper">
                    <div class="profile_quote">
                      <p>"Monsoon, a time of refreshing rains, lush greenery, and the earth's rejuvenation."</p>
                    </div>
                  </div>
                </div>
              </div>
            
        </div>
        <h1 class="h2">Where to ?</h1>
        <div class="griddiv">
            <div class="grid" id="grid">
                <photo-card data-text="India" img="img/taj mahel ind.jpg"></photo-card>
                <photo-card data-text="China" img="img/china.jpg"></photo-card>
                <photo-card data-text="Mexico" img="img/mexico.avif"></photo-card>
                <photo-card data-text="Jordan" img="img/Jordan.avif"></photo-card>
                <photo-card data-text="Peru" img="img/peru.avif"></photo-card>
                <photo-card data-text="Brazil" img="img/brazil.jpg"></photo-card>
                <photo-card data-text="Italy" img="img/italy.jpg"></photo-card>
                <photo-card data-text="France" img="img/France.webp"></photo-card>
                <photo-card data-text="U.A.E" img="img/uae.png"></photo-card>
                <photo-card data-text="U.S.A" img="img/USA.jpg"></photo-card>
            </div>
        </div>
        <h1 class="h3">TOP DESTINATIONS</h1>
        <div class="container2">
            <div class="popcards">
                <div class="popcard">
                    <img src="img/pop1.webp" alt="California" />
                    <div class="overlay">
                        <h2>Maldives</h2>
                        <p>14 Hotels • 22 Tours • 22 Rentals • 21 Cars • 18 Activities</p>
                    </div>
                </div>
                <div class="popcard">
                    <img src="img/pop2 french.webp" alt="New York City" />
                    <div class="overlay">
                        <h2>France</h2>
                        <p>7 Hotels • 15 Tours • 15 Rentals • 17 Cars • 18 Activities</p>
                    </div>
                </div>
                <div class="popcard">
                    <img src="img/pop3 norway.webp" alt="New Jersey" />
                    <div class="overlay">
                        <h2>Norway</h2>
                        <p>7 Hotels • 18 Tours • 11 Rentals • 11 Cars • 17 Activities</p>
                    </div>
                </div>
                <div class="popcard">
                    <img src="img/pop4 himaliyas.webp" alt="Los Angeles" />
                    <div class="overlay">
                        <h2>Himalayas</h2>
                        <p>13 Hotels • 23 Tours • 18 Rentals • 19 Cars • 19 Activities</p>
                    </div>
                </div>
                <div class="popcard">
                    <img src="img/pop5 swizland.webp" alt="San Francisco" />
                    <div class="overlay">
                        <h2>Switzerland</h2>
                        <p>5 Hotels • 13 Tours • 15 Rentals • 12 Cars • 13 Activities</p>
                    </div>
                </div>
                <div class="popcard">
                    <img src="img/pop6 newyork.webp" alt="Nevada" />
                    <div class="overlay">
                        <h2>NewYork</h2>
                        <p>11 Hotels • 20 Tours • 20 Rentals • 17 Cars • 15 Activities</p>
                    </div>
                </div>
            </div>
        </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
        <script>
          Vue.component("photo-card", {
            template: `<a class="card"
                      :href="link"
                      target="_blank"
                      ref="card"
                      @mousemove="move"
                      @mouseleave="leave"
                      @mouseover="over">
                        <div class="reflection" ref="refl"></div>
                        <img :src="img"/>
                  </a>`,
            props: ["img", "link"],
            mounted() { },
            data: () => ({
              debounce: null
            }),
      
            methods: {
              over() {
                const refl = this.$refs.refl;
                refl.style.opacity = 1;
              },
              leave() {
                const card = this.$refs.card;
                const refl = this.$refs.refl;
                card.style.transform = `perspective(500px) scale(1)`;
                refl.style.opacity = 0;
              },
      
              move() {
                const card = this.$refs.card;
                const refl = this.$refs.refl;
      
                const relX = (event.offsetX + 1) / card.offsetWidth;
                const relY = (event.offsetY + 1) / card.offsetHeight;
                const rotY = `rotateY(${(relX - 0.5) * 60}deg)`;
                const rotX = `rotateX(${(relY - 0.5) * -60}deg)`;
                card.style.transform = `perspective(500px) scale(2) ${rotY} ${rotX}`;
      
                const lightX = this.scale(relX, 0, 1, 150, -50);
                const lightY = this.scale(relY, 0, 1, 30, -100);
                const lightConstrain = Math.min(Math.max(relY, 0.3), 0.7);
                const lightOpacity = this.scale(lightConstrain, 0.3, 1, 1, 0) * 255;
                const lightShade = `rgba(${lightOpacity}, ${lightOpacity}, ${lightOpacity}, 1)`;
                const lightShadeBlack = `rgba(0, 0, 0, 1)`;
                refl.style.backgroundImage = `radial-gradient(circle at ${lightX}% ${lightY}%, ${lightShade} 20%, ${lightShadeBlack})`;
              },
              scale: (val, inMin, inMax, outMin, outMax) =>
                outMin + (val - inMin) * (outMax - outMin) / (inMax - inMin)
            }
          });
      
      
      
          const app = new Vue({
            el: "#grid"
          });
        </script>
      
</body>

</html>